*{
    margin:0;
    padding:0;
}

#home{
    background:linear-gradient(rgba(0,0,0,0.5),#11BCD9), url(images/home.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
    position:relative;
}
.darkmode--activated #home{
    background: linear-gradient(rgba(0,0,0, 0.5),rgb(112, 110, 111)), url(images/darkmode.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
    position:relative;
}
/* scroll button */
.scroll-down{
    height: 50px;
    width:30px;
    border:2px solid white;
    position:absolute;
    left:50%;
    bottom:20px;
    border-radius: 50px;
    cursor: pointer;

}
.scroll-down::before,
.scroll-down::after{
    content: '';
    position:absolute;
    top:20%;
    left:50%;
    border:4px solid white;
    height:10px;
    width:10px;
    transform:translate(-50%, -100%) rotate(45deg);
    border-top:transparent;
    border-left:transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top:30%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0%{
        opacity:0;
    }
    30%{
        opacity:1;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity:0;
        top:90%
    }
}


/* landing page */
.intro{
    background:#16456E;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.intro-text{
    color:rgb(227,242,255);
    font-family: 'Kaushan Script', cursive;
    font-size:2.5rem;
}
@media screen and (max-width: 770px){
    .intro-text{
        font-size: 2rem;
    }
}
.slider{
    background:rgb(97,105,109);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    transform:translateY(100%);
}
.hide{
    overflow:hidden;
}
.hide span{
    transform:translateY(100%);
    display:inline-block;
}


/* landing-end */


.home-text{
    text-align:center;
    color:white;
    padding-top:180px;
}
.home-text h1{
    font-size:130px;
    font-family: 'Kaushan Script', cursive;
}

.home-text p{
    font-size: 20px;
    font-style:italic;
    font-family: 'Noto Sans', sans-serif;
}

#index-nav{
    width:250px;
    height: 100vh;
    position:fixed;
    right:-250px;
    top:0;
    background:#11BCD9;
    z-index: 2;
    transition: 0.6s;
}
.darkmode--activated #index-nav{
    background: black;
    border-left:2px solid #858a8a;
}

nav ul li{
    list-style: none;
    margin:50px 20px;
}
nav ul li a {
    text-decoration: none;
    color:white;
    font-family: 'Kaushan Script', cursive;

}
nav ul li a:hover{
    font-size:20px;
    transition: 0.5s;
}

#index-btn{
    width:50px;
    height:50px;
    text-align: center;
    position: fixed;
    right:30px;
    top:20px;
    border-radius:3px;
    z-index: 2;
    cursor:pointer;
    background-color: #11BCD9;
}
.darkmode--activated #index-btn{
    background-color: #858a8a;
}
#index-btn img{
    width:20px;
    margin-top: 15px;
}

@media screen and (max-width: 770px){
    .home-text h1{
        font-size:60px;
    }
}

/*--profile--*/

#profile{
    width:100%;
    padding:60px 0px;

}
.title-text{
    text-align:center;
    padding-bottom:70px;

}
.title-text p{
    margin:auto;
    font-size: 40px;
    color:#11BCD9;
    font-weight: bold;
    font-family: 'Allura', cursive;
}

.title-text h1{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

.profile-box{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    text-align: center;
}
.Profile{
    flex-basis: 50%;
}
.profile-img{
    flex-basis:50%;
    position:relative;
}

.profile-img img{
    width:70%;
    border-radius:20px;
    border: 2px solid #11BCD9;
   
}
.design{
    width:70%;
    height:100%;
    position:absolute;
    top:0;
    right:14.9%;
    border-radius:20px;
    cursor: pointer;
    opacity:0;
    background: linear-gradient(rgba(119, 118, 118, 0.5),#11BCD9);
    transition: 1s;
}
.design_desc{
    width:80%;
    position:absolute;
    bottom:0;
    opacity:0;
    left:50%;
    color:white;
    transform:translateX(-50%);
    transition:1s;
}
.profile-img:hover .design{
    opacity:1;
}
.profile-img:hover .design_desc{
    opacity:1;
    bottom:50%;
}

.Profile h1{
    text-align:left;
    margin-bottom:10px;
    font-weight: 100;
    color: #11BCD9;
}

.profile-desc{
    display:flex;
    align-items:center;
    margin-bottom:40px;
}
.profile-txt{
    padding: 0 20px;
    text-align:initial;
    font-family: 'Noto Sans', sans-serif;
}


.profile-icon .fa{
    width:50px;
    height:50px;
    font-size:30px;
    line-height:50px;
    border-radius:8px;
    color:#11BCD9;
    border:1px solid #11BCD9;

}
.profile-connect-icon .fa{
    height: 50px;
    width:50px;
    font-size:30px;
    line-height:50px;
    border-radius:8px;
    margin-right:10px;
    color:#11BCD9;
    border:1px solid #11BCD9;
}
.profile-connect-icon .fa:hover{
    background-color:#11BCD9;
    color:white;
    transition:0.8s;
}

@media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
    .Profile{
        flex-basis:100%;
    }
    .profile-img{
        flex-basis:100%;
    }
    .profile-img img{
        width:100%;
    }
    .design{
        width:100%;
        left:0.5%;
    }
    .profile-connect-icon .fa{
        height:40px;
        width:40px;
        font-size:30px;
        line-height: 40px;
    }
    
}
/* ability */

#ability{
    width: 100%;
    padding:40px 0;
    background-color:#ded9e0cc;
}
.ability-box{
    width:80%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    text-align: center;
}
.skills{
    flex-basis: 50%;

}

.certification{
    flex-basis:50%;

}

/* skill */
.skill{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}
.skill-img{
    flex-basis:40%;
}
.skill-text{
    flex-basis: 60%;
    padding: 0 20px;
    text-align: initial;

}
.skill-img img{
    height: 50%;
    width: 50%;
    line-height: 60px;
    border-radius: 20%;
    border:1px solid #11BCD9;
}
.skill-text h1{
    margin-bottom:10px;
    font-weight: 80;
    color: #11BCD9;
}
.skill-text .fa{
    width:40px;
    height:40px;
    font-size:30px;
    line-height:40px;
    color:#11BCD9;
}
.skill-text:hover .fa{
    animation:heartBeat;
    animation-duration: 2s;
}
/* certification */
.certificate{
    display:flex;
    align-items: center;
    margin-bottom: 40px;
}
.cert-img{
    flex-basis:40%;
}
.cert-text{
    flex-basis: 60%;
    padding: 0 20px;
    text-align: initial;

}
.cert-img img{
    height: 60%;
    width: 60%;
    line-height: 60px;
    border-radius: 10%;
    border:1px solid #11BCD9;
}
.cert-text h1{
    margin-bottom:10px;
    font-weight: 80;
    color: #11BCD9;
}
@media screen and (max-width: 770px){
    .skills{
        flex-basis: 100%;
    
    }
    
    .certification{
        border-top:2px solid #11BCD9;
        padding-top: 30px;
        flex-basis:100%;
    
    }
    .vr{
        display:none;
    }
    .skill-text .fa{
        width:30px;
        height:30px;
        font-size:20px;
        line-height:30px;
        color:#11BCD9;
    }

}
/* vertical line */
.vr{
    border-left: 2px solid #11BCD9;
    height: 1000px;
    position: absolute;
    left: 50%;
    z-index: 1;
}

/* education */
#education{
    width:100%;
    padding: 40px 0;
}

.education-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    min-height: 100vh;
    

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin:40px 0;
}
.container .card{
    position: relative;
    min-width:320px;
    height:440px;
    box-shadow: inset 5px 5px 5px rgba(33, 228, 228, 0.774),
                inset -5px -5px 15px rgba(140, 226, 222, 0.801),
                5px 5px 15px rgba(33, 228, 228, 0.774),
                -5px -5px 15px rgba(140, 226, 222, 0.801);
 
    border-radius: 15px;
    margin: 30px;
}

.container .card .box{
    position:absolute;
    top: 20px;
    left:20px;
    right:20px;
    bottom:20px;
    border:2px solid #6bddf1;
    border-radius: 15px;
    box-shadow: 0 20px 50px rgba(82, 241, 241, 0.884);
    transition:0.5s;
}
.container .card .box:hover{
    transform:translateY(-50px);
    box-shadow: 0 40px 70px rgba(119, 236, 245, 0.5);

}
.content{
    position:relative;
}
.content img{
    height: 395px;
    width:100%;
    border-radius: 15px;
}
.content-design{
    width:100%;
    height:100%;
    position:absolute;
    border-radius: 15px;
    top:0;
    cursor:pointer;
    background:linear-gradient(rgba(0,0,0,0.9), #11BCD9);
    opacity:0;
    transition: 1s;
}
.content:hover .content-design{
    opacity:1;
}
.content-design-desc{
    width:80%;
    position:absolute;
    bottom:0;
    opacity:0;
    left:50%;
    color:white;
    transform:translateX(-50%);
    transition:1s;
    font-family: 'Noto sans',sans sarif;
}

.content:hover .content-design-desc{
    opacity:1;
    bottom:30%;
}

hr{
    background:#fff;
    height:2px;
    border:0;
    margin:15px auto;
    width:60%;
}
@media screen and (max-width: 770px){
    .card{
        height:60%;
        width: 70%;
    }
}
/* project-section */
#projects{
    width:100%;
    padding:40px 0;
    background-color:#ded9e0cc;
}
.projects-body{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.projects-body h1{
    font-family:'imbue',serif;
    font-size: 40px;
}
@media screen and (max-width: 770px){
    .projects-body img{
        height: 80%;
        width: 80%;
    }
}

/* hobby */
#hobby{
    width:100%;
    padding: 40px 0;
}

.hobby-body{
    position:relative;
    width:100%;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
.darkmode--activated .hobby-body .title-text h1{
    color:white;
}
.darkmode--activated .hobby-text{
    color:#11BCD9;
}
.darkmode--activated .hobby-body .title-text p{
    color:red;
}

.hobby-body .set{
    position:absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    pointer-events: none;
    z-index: 1;
}
.hobby-body .set div{
    position:absolute;
    display: block;
}
.hobby-body .set div:nth-child(1)
{
    left:20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.hobby-body .set div:nth-child(2)
{
    left:50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.hobby-body .set div:nth-child(3)
{
    left:70%;
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
.hobby-body .set div:nth-child(4)
{
    left:0%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.hobby-body .set div:nth-child(5)
{
    left:40%;
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
.hobby-body .set div:nth-child(6)
{
    left:85%;
    animation: animate 12s linear infinite;
}
.hobby-body .set div:nth-child(7)
{
    left:90%;
    animation: animate 14s linear infinite;
}
.hobby-body .set div:nth-child(8)
{
    left:60%;
    animation: animate 10s linear infinite;
    animation-delay: -5s;
}
@keyframes animate{
    0%{
        opacity:0;
        top:-10%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity:1;

    }
    20%{
        transform:translateX(-20px) rotate(45 deg);
    }
    40%{
        transform:translateX(-20px) rotate(90 deg);
    }
    60%{
        transform:translate(20px) rotate(180deg);
    }
    80%{
        transform:translate(-20px) rotate(180deg);
    }
    100%{
        top: 110%;
        transform:translate(-20px) rotate(225deg);
    }
}



.set2{
    transform:scale(1.5) rotateY(180deg);
    filter:blur(2px);
}
.set3{
    transform:scale(0.8) rotateX(180deg);
    filter:blur(2px);
}

.hobby-body .title-text{
    position:absolute;
    top:0;
}

@media screen and (max-width: 1050px){
    .set img{
        opacity:0.5;
    }
}
@media screen and (max-width: 770px){
    .set img{
        opacity:0;
    }
    .single-hobby{
        margin-left: 2px;
    }
    .hobby3{
        margin-left:-35px;
    }

}

.single-hobby{
    display:flex;
    justify-content: center;
 
    
}
.single-hobby img{
    height:200px;
    width:200px;
    border-radius: 10%;
    border: 2px solid #11BCD9;
    margin-top: 10px;

}
.single-hobby .hobby-text{
    margin-left: -40px;
    opacity:0;
}
.hobby-text h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-top:10px;
}
.hobby-text p{
    font-weight: 90;
    font-size: 20px;
}
.single-hobby:hover .hobby-text{
    opacity:1;
    z-index:1;
    transition: 2s;
}

.hobbies{
    margin-top:120px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (max-width: 770px){
    .single-hobby:hover .hobby-text{
        z-index: 0;
    }
}
/* conclusion */
#conclusion{
    margin:0;
    padding:0;
    width:100%;
    height:80vh;
    position: relative;
    background-color: #858a8a;
}
#conclusion h1{
    position: absolute;
    top:10%;
    right:30%;
    z-index: 1;
    font-size: 60px;
    font-family: 'Kaushan Script', cursive;
}
.conclusion-body{
    display:flex;

}
.conclusion-text{
   position: absolute;
   top:50%;
   left:15%;
   line-height: 45px;
   font-family: 'Noto Sans', sans-serif;
   z-index: 1;
    
}
.conclusion-text p{
    font-size: 20px;
}
.conclusion-text .name{
    font-size: 50px;
}
.conclusion-body img{
    position: absolute;
    right:0;
    height: 80vh;
    width:42%;
}
@media screen and (max-width: 1050px){
    .conclusion-text{
        left:2%;
    }   
}
@media screen and (max-width: 770px){
    .conclusion-body img{
        opacity:0;
    }
    .conclusion-text{
        text-align: center;
        left:10%;
        line-height: 35px;
        transform: translate(-10%,0%);
    }

}
.darkmode--activated #conclusion{
    background-color: rgb(39, 38, 38);
}
.darkmode--activated .conclusion-text{
    color:#11BCD9;
}
.darkmode--activated .conclusion h1{
    color:#858a8a;
}
/* copyright */
#copyright{
    background-color: #858a8a;
    height:40px;
    position: relative;
}
#copyright hr{
    background-color: white;
    margin:0px 0px 0px 0px;
    width:100%;
    
}
#copyright p{
    position: absolute;
    right:5%;
    top:25%;
    font-family: 'Noto Sans', sans-serif;
}

.darkmode--activated #copyright{
    background-color: black;
}
.darkmode--activated .copyright p{
    color:white;
}


.darkmode-toggle{
    z-index:500;
}

